<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
  </configSections>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.7.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
  <!--数据库连接配置,Data Source：数据库地址，Database: 数据库名称 port:端口-->
  <connectionStrings>
    <add name="SmartAPIAdapterCore" connectionString="Data Source=localhost;Database=JDPark;port=3306;User ID=root;Password=123456" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--当前应用程序名称-->
    <add key="ApplicationName" value="Smart.API.Adapter.Api"/>
    
    <!--API 日志记录类型，0不记录，1记录文本-->
    <add key="LogType" value="0"/>
    <!--请求计费错误，默认返回码 -->
    <add key="ThirdChargingFailCode" value="1"/>
    <!--请求计费错误，默认返回开闸标识 -->
    <add key="ThirdChargingIsOpenGate" value="0"/>
    <!--JieLink SDK 地址，默认不需要修改-->
    <add key="BaseAddressJS" value="http://10.101.98.205:8091/api/"/>
    <!--JieLink管理员账户-->
    <add key="JielinkUserName" value="9999"/>
    <!--JieLink管理员密码，如果更改，此处必需同步更改-->
    <add key="JielinkPassword" value="123456"/>

    <!--第三方应用，1：京东，2：南方大酒店-->
    <add key="ThirdApp" value="1"/>



    <!--ActiveMQ服务地址-->
    <add key="ActiveMQUrl" value="tcp://127.0.0.1:9902/"/>
    <!--ActiveMQ队列名或主题-->
    <add key="ActiveMQQueueOrTopic" value="ActiveMQQueue"/>
    <!--ActiveMQ账户-->
    <add key="ActiveMQName" value=""/>
    <!--ActiveMQ密码-->
    <add key="ActiveMQPassword" value=""/>
    <!--WebService地址-->
    <add key="WebServiceUrl" value="http://localhost:9903/WebService/" />

    
    <!--京东-->
    <add key="BaseAddressJd" value="http://test-spl.jd.com/"/>
    <!--京东车场Code-->
    <add key="ParkLotCode" value="ZB01"/>
    <!--京东接口token-->
    <add key="Token" value="eef0af06b4740b5c6aa6fdb40edb2353"/>
    <!--京东定义的客户端系统编码-->
    <add key="SysId" value="1"/>
    <!--请求超时时间设置，单位秒 -->
    <add key="PostTimeOut" value="3"/>
    <!--是否启用邮件 true:启用，false:不启用-->
    <add key="EmailEnable" value="true"/>
    <!--邮件服务器的SMTP地址 -->
    <add key="EmailSMTP" value="smtp.qq.com"/>
    <!--SMTP邮件服务器 端口-->
    <add key="EmailPort" value="587"/>
    <!--发送邮件服务器是否SSL true:是，false:不是-->
    <add key="EmailSSL" value="true"/>
    <!--发送邮件账户-->
    <add key="EmailUserName" value="04@qq.com"/>
    <!--发送邮件账户密码-->
    <add key="EmailPassword" value="gtgunnxjlespbfai"/>
    <!--邮件 收件人地址，多个地址可以用';'分号间隔-->
    <add key="EmailTo" value=""/>
    <!--邮件标题 -->
    <add key="EmailTitle" value="EmailTitile"/>
    <!--邮件内容 -->
    <add key="EmailBody" value="EmailBody"/>
    
    
    
    <add key="webapi:SignEnabled" value="false"/>
    <add key="webapi:RightsEnabled" value="false"/>
    <add key="webapi:FrequencyEnabled" value="false"/>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5" debug="true"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>